@import "src/theme/text";

:host {
  @include offset(absolute, 'sm', #{get-border(frame)}, 0, null, 0, null);
  @include flex(flex, space-between, center, null, null);
  padding-right: get-margin(4);
  padding-left: get-margin(4);
  width: 100%;
  height: 9rem;
  background: linear-gradient(180deg, $ui-400, $ui-600);
  border-bottom: get-border(base) solid get-color(ui-400);
  box-shadow: 0px 1px 0px 0px #{get-color(ui-900)};
  overflow: hidden;
}

.c-header {
  
  &--logo {
    color: get-color(light);
  }
  
}