@import "src/theme/variables";
@import "src/theme/functions";
@import "src/theme/mixins";
@import "src/theme/text";

:host {
  //@include offset(absolute, 'lg', 0, 0, null, 0, null);
  @include flex(flex, space-between, center, null, null);
  margin-top: 0.9rem;
  padding-right: get-margin(4);
  padding-left: get-margin(4);
  width: 100%;
  height: 9rem;
  color: get-color(primary);
  background: get-color(light);
  border-bottom-width: get-border(base);
  border-bottom-style: solid;
  box-shadow: 0px 0px 20px 4px #{get-color(ui-500)};
  overflow: hidden;
}

.c-header {}    