@import "src/theme/variables";
@import "src/theme/functions";
@import "src/theme/mixins";

.c-frame {
  pointer-events: none;
  
  &::before {
    @include pseudo('', fixed, xl, 0, 0, 0, 0, null);
    border: #{get-border(frame)} solid #{get-color(ui-900)};
  }
    
  &::after {
    @include pseudo('', fixed, xl, 0, 0, 0, 0, null);
    border: #{get-border(frame)} solid #{get-color(ui-900)};
    box-shadow: 0 0 0 5rem #{get-color(ui-900)};
    border-radius: get-border-radius(frame);
  }
  
}