@import "src/theme/variables";
@import "src/theme/functions";
@import "src/theme/mixins";

.c-sidebar {
  @include offset(absolute, 'md', 0, 0, 0, 0, null);
  @include flex(flex, center, null, column, nowrap);
  padding-right: 4rem;
  padding-left: 4rem;
  text-align: center;
  background-color: get-color(primary);
  box-shadow: 5px 0px 10px 0px rgba(get-color(ui-900), .75);
  transform: translateX(-100vw);
  @include transition;
  
  &.active {
    transform: translateX(0);
  }
  
  &--item {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: #{get-border(base)} solid rgba(get-color(tertiary), .8);
    box-shadow: 0px 1px 0px 0px  rgba(get-color(accent), 0.3);

    
    &:last-of-type {
      border: none;
      box-shadow: none;
    }
    
    .c-font-style--link {
      z-index: get-z-index(sm);
      font-weight: get-font-weight('bold');
      font-size: (get-font-size('lg') + 1rem);
      color: get-color(light);
      
      &.active {
        color: get-color(secondary);
      }
      
    }
    
  }
  
  .c-burger {
    @include offset(absolute, null, 3.2rem, 4rem, null, null, null);
  }
  
}