<cru-header
  (toggle)="toggleMenu()">
</cru-header>

<cru-sidebar
  [open]="sidebarOpen"
  [routes]="menuRoutes"
  (toggle)="toggleMenu()">
  
    <li
      *ngFor="let route of menuRoutes"
      class="c-sidebar--item"
      role="none">
      <a
        class="c-font-style--link"
        [routerLink]="route?.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        role="menuitem"
        tabindex="0"
        (click)="toggleMenu()">
          {{ route?.name }}
      </a>
    </li>

</cru-sidebar>

<div class="c-frame" role="presentation"></div>

<router-outlet></router-outlet>