<ul class="c-sidebar" [class.active]="!toggleSidebar">
<!-- <ul class="c-sidebar"> -->
  <li class="c-sidebar--item c-font-style--link">Link 1</li>
  <li class="c-sidebar--item c-font-style--link">Link 2</li>
  <li class="c-sidebar--item c-font-style--link">Link 3</li>
  <li class="c-sidebar--item c-font-style--link">Link 4</li>
  <li class="c-sidebar--item c-font-style--link">Link 5</li>
  <li class="c-sidebar--item c-font-style--link">Link 6</li>
  <li class="c-sidebar--item c-font-style--link">Link 7</li>
  <li class="c-sidebar--item c-font-style--link">Link 8</li>
  <li class="c-sidebar--item c-font-style--link">Link 9</li>
</ul>